<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Get AlphaPost on the play store!</h2>
                <p>Ditch your old and expensive social media management tool!</p>
                <div class="badges">
                    <a class="badge-link" href="https://play.google.com/store/apps/details?id=in.adityaanand.alphapost"><img src="/img/google-play-badge.svg" alt="AlphaPost Play Store Link"></a>
                    <!-- <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
