<style type="text/css">
    .customer_img{
        margin: 20px;
    }
    .customers_container > div {
        display: inline-block;
        *display: inline; /* For IE7 */
        zoom: 1; /* Trigger hasLayout */
        text-align: center;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">

            <div class="customers_container">
                <div><img class="customer_img" src="/img/customers/msf.svg" alt="msf"></div>
                <div><img class="customer_img" src="/img/customers/logo-vinci.svg" alt="logo-vinci"></div>
                <div><img class="customer_img" src="/img/customers/hired.svg" alt="hired"></div>
                <div><img class="customer_img" src="/img/customers/ogilvy-logo.svg" alt="ogilvy-logo"></div>
                <div><img class="customer_img" src="/img/customers/adobe1.svg" alt="adobe"></div>
                <div><img class="customer_img" src="/img/customers/asos.svg" alt="asos"></div>
                <div><img class="customer_img" src="/img/customers/microsoft1.svg" alt="microsoft"></div>
            </div>
        </div>
    </div>
</div>